<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Início</a></li>
            <li><a href="{{ site.baseurl }}/pesquisa.html">Pesquisa</a></li>
            <li><a href="{{ site.baseurl }}/equipe.html">Equipe</a></li>
            <li><a href="{{ site.baseurl }}/calendario">Calendario</a></li>
            <li><a href="{{ site.baseurl }}/publicacoes.html">Publicações</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Notícias</a></li>
            <!-- {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %} -->
            <li><a href="{{ site.baseurl }}/comoparticipar.html" class="button alt">Como participar</a></li>
        </ul>
    </nav>
</header>
