<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Alex Liberzon Lab</h2>
                <p>Experimental research laboratory</p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Follow us</a></li>
                    <li><a href="#elements" class="button big alt">Read More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
