<!DOCTYPE html>
<html lang="en">

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Grupo de Estudos Desenvolvimento Social e Primeira Infância</h2>
                <!-- <p>Coord. Profa. Dra. Maria Lúcia Teixeira Garcia</p> -->
                <p> Avaliação crítica e comparativa internacional </p>
                <ul class="actions">
                    <li><a href="contato.html" class="button big alt">Contato</a></li>
                    <li><a href="pesquisa.html" class="button big alt">Saiba Mais</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
